<html>
    <body style="margin: 0; padding: 0;">
<div >
    <header style="background-color: #08bae2; width: auto; height: 54px;"><img src="{{url_for('static', filename='/Image/download.png')}}" alt="Cisco Logo" style="position: relative; top: 100px; width: 100px;"></header>
        <h1 style="margin-top: 100px ;display: flex; flex-direction: column; align-items: center;
            font-size: 54px;
            text-align: center;
            color: #9c6363; ">QOS CALCULATOR AND VISUALIZER</h1>
    
    <h2 style="display: flex; flex-direction: column; align-items: center; font-size: 44px;">The configuration for desired series</h2>
        <div style="display: flex; flex-direction: column; align-items: center;">
        
        <textarea style="font-size: x-large;border: 0px solid; border-radius: 10px; width: 800px; height: 30px; background-color: #e0e0e0;" placeholder="NO ERRORS">{{ faults }} </textarea>
        
        <textarea style="font-size: x-large;border: 0px solid; border-radius: 10px; width: 800px; height: 350px; background-color: #e0e0e0;" placeholder="OUTPUT CONFIGURATION">{{ result }} </textarea>
        
        
        <h4 style="display: flex; flex-direction: column; align-items: center; font-size: 28px;">Alert : Be sure while applying the configuration on devices.</h4>
    
    <button style="display: flex; flex-direction: column; align-items: center; background-color: #08bae2;border-radius: 5px;
    background-color: #08bae2;
    color: white;
    font-weight: 400;
    margin-bottom: 31px;
    white-space: nowrap;
    justify-content: center;
    padding: 15px 30px;
    cursor: pointer;
    transition: background-color 0.3s;" ><a href="/">BACK</a></button>
</div>
    
    <footer style="background-color: #08bae2; width: auto; height: 48px;"></footer>
</div>
</body>
</html>